.body-opening-statement{
    padding-top:$large-size;
    }
.statement-body{
    margin-bottom: $large-size;
}

.title-bullet{
    padding-top: $large-size;
    margin-bottom: $extra-small;
}

.title-strong{
    font-weight: 700;
}

.statement-sentance{
    margin-bottom: $small-size;
}